<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <bean id="messageListener" class="com.dy.lisener.MessageLisener"/>

    <bean id="rmqClient" class="com.ybl.rocketmq.client.RmqClient" init-method="init">
        <property name="producerNamesrvAddr" value="${rocketmq.namesrvAddr}"/>
        <property name="producerGroupName" value="${rocketmq.producerGroupName}" />

        <property name="consumerNamesrvAddr" value="${rocketmq.namesrvAddr}" />
        <property name="consumerGroupName" value="${rocketmq.cosumerGroup}" />
        <property name="consumerTopicTags" value="${rocketmq.topicTags}" />
        <property name="messageListener" ref="messageListener"/>
    </bean>

</beans>
